.game-card{
    position: absolute;
    width: var(--card-size);
    height: var(--card-size);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.15s ease-out;

    img{
        width: 100%;
        object-fit: cover;
    }

    &.active{
        width: var(--active-card-size);
        height: var(--active-card-size);
    }

}
 