.ps5-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  overflow: hidden;
}

.game-bg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-cards-list-container{
  z-index: 100;
}

.bg-container{
  @keyframes gameBgFadeIn {
    0%{
      opacity: 0;
      transform: translateX(-40px) scale(0.99);
    }
    100%{
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }
  --fade-in-animation: gameBgFadeIn 0.5s ease;
}
