.ps5-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  overflow: hidden;
}

.game-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-cards-list-container{
  z-index: 100;
}

.card-title{
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  font-size: 2rem;
  color: white;

  --fade-in-animation: cardTitleFadeIn 0.5s ease;
  --fade-out-animation: cardTitleFadeOut 0.5s ease;

  @keyframes cardTitleFadeIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100%{
      opacity: 1;
      transform: translateX(0px);
    }
    
  }

  @keyframes cardTitleFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }

    100%{
      opacity: 0;
      transform: translateY(-20px);
    }
    
  }

}

.bg-container {
  /* Declarations before nested rules */
  --fade-out-delay: 0.2s;

  /* Keyframes */
  @keyframes gameBgFadeInPrevious {
    0% {
      opacity: 0;
      transform: translateX(-40px) scale(0.99);
    }
    100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }

  @keyframes gameBgFadeInNext {
    0% {
      opacity: 0;
      transform: translateX(40px) scale(0.99);
    }
    100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }

  /* Modifier classes */
  &.next {
    --fade-in-animation: gameBgFadeInNext 0.5s ease;
  }

  &.previous {
    --fade-in-animation: gameBgFadeInPrevious 0.5s ease;
  }

  /* Container styles */
  position: relative;
  width: 100%;
  height: 100%;

  /* Gradient overlay */
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 20;
  }
}

.play-container{
  position: absolute;
  left: 160px;
  bottom: 150px;

  --fade-in-delay: 0.5s;
  --fade-in-animation: playFadeIn 0.3s ease;
  --fade-out-animation: playFadeIn 0.1s ease;

  @keyframes playFadeIn {

    0%{
      transform: translateY(40px);
      opacity: 0;
    }

    100%{
      transform: translateY(0px);
      opacity: 1;
    }
    
  }

  @keyframes playFadeOut {

    100%{
      transform: translateY(40px) ;
      opacity: 0;
    }
  
  }

  h1{
    margin-left: 10px;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  button{
    width: 220px;
    height: 50px;
    border: none;
    background: rgba(100,112,136,0.3);

    border-radius: 30px;
    font-size: 1rem;
    color:white;
    font-weight: bold;
  }
}


